/* TYPOGRAPHY */

h1, h2, h3, li{
	font-family: "Roboto Slab", serif;
}

p, button{
	font-family: "Open Sans", sans-serif;
}

h1 a{
	display: inline-block;
	font-size: 1.2em;
	color: $white;
	font-weight: 400;
	padding-top: .5em;
		&:hover{
		border-bottom: 0;
		}
}

h2{
	font-size: 1.5em;
	margin-bottom: 2em;
	color: $nkblue;
	font-weight: 400;
}

h3{
	font-size: 1.2em;
}

p{
	line-height: 1.4em;
	color: $black;
	max-width: 800px;
	margin: 1em 0;
	font-size: 1.1em;
}

@mixin link-underline($color, $size:1px, $style:dashed){
	border-bottom: $size $style $color;
}

a{
	color: $nkblue;
	text-decoration: none;
	@include link-underline($color: $nkblue);
		&:hover{
		color: $black;
		@include link-underline($color: $black);
		}
}

button{
	padding:1em;
	font-size: 1em;
}

nav{
	ul{
		li{
			a {
			color: $black;
			font-size: .9em;
			@include link-underline(1px, dashed, $black);
				&:hover{
				color: $white;
				border-bottom-color: $white;
				}
			}
		}
	}
}

li{
	font-size: $larger-font;
	
	+ li{
		margin-top: 1em;
	}
}

ol li{ 
	list-style: decimal;
}

.portfolio{
	li{
		a{
		border-bottom: 0;
		}
	}
}

em{
	font-style: italic;
}

strong{
	font-weight: 700;
}
