/* VARIABLES */

$dark-blue: #01BBEF;
$medium-blue: #1FC3F1;
$light-blue: #C4EFFB;
$nkblue: #00b3e3;
$white: #ffffff;
$black: #111111;
$gray: #666666;

$header-height: 100px;
$desktop-header-height: 75px;
$larger-font: 1.2em;